<img src="/images/happy-family.jpg" class="img-thumbnail img-responsive splash-image" />
<p>Doing family research can be daunting, especially if you don't know what tools are available.</p>
<p>This website provides you with the tools available to become successful at doing family history research and offers simple guides to get going on each tool.</p>
<p>Below you will find a list of tutorials on different tools available.</p>
<div class="sidebar-module-inset">
  <ul>
    <li>{{#link-to 'family_search.introduction'}}Getting Started with FamilySearch.org{{/link-to}}</li>
    <li><a href="#">Getting Started with Ancestry.com</a></li>
    <li>{{#link-to 'family_search.introduction'}}Getting Started with Puzzilla{{/link-to}}</li>
    <li><a href="#">Getting Started with Pandora's Hope Chest</a></li>
  </ul>
</div>